/* General */

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

img, picture, video, iframe {
  max-width: 100%;
  height: auto;
}

/* General END */

/* DROPDOWN Start */

.dropdown {
  list-style-type: none;
  margin: 0 0 0 75px;
  padding: 0;
}

.dropdown>li {
  padding: 10px;
  display: inline-block;
  position: relative;
}

.dropdown>li>ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  background-color: #ebfaff;
  visibility: hidden;
  position: absolute;
  width: 250px;
  border: 1px solid #5d27ff;
  opacity: 0;
  transition: all 1s ease-out;
  top: 20px;
  left: 0px;
}

.dropdown>li:hover>ul {
  visibility: visible;
  opacity: 1;
  top: 55px;
}

.dropdown a {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.dropdown a:hover {
  background-color: #ebf0ff;
}

.dropdown>li>ul a {
  display: inline-block;
  padding: 10px 15px;
  white-space: nowrap;
  margin-left: -.5px;
  width: calc(100% - 30px);
}

.menu {
  width: 75px;
  height: auto;
  box-shadow: none;
  border-radius: 5px;
}

/* END Dropdown Menu */

/* Header */

.flex1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f4f3f7;
  opacity: .8;
}

.header-menu {
  flex-basis: 10%;
  max-width: 10%;
  box-sizing: border-box;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-top: 22px;
  font-size: 0px;
  text-align: right;
  color: #5d27ff;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

header a:hover {
  color: #9875ff;
}

/* Header End */

/* Slider */

.slider-home {
  background-image: url('images/harli-marten-n7a2OJDSZns-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  padding: 100px 0 130px;
  z-index: -2;
}

.slider-home:before {
  position: absolute;
  content: "";
  border-radius: 5px;
  left: 12.5%;
  top: 30%;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 40%;
  background: #fff;
  opacity: 0.8;
  z-index: -1;
}

.hm-slider-text {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  padding-top: 60px;
  font-size: 4.5vw;
  margin-bottom: -17px;
  text-align: center;
  color:	#5d27ff;
  font-weight: 500;
}

.hm-subslider-text {
  padding-top: 0px;
  font-size: 5vw;
  text-align: center;
  color:	#9875ff;
  margin-bottom: -15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.hm-slogan {
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 2.5vw;
  color:	#9875ff;
  font-family: 'Quicksand', sans-serif;
  font-style: oblique;
  text-align:center;
}

/* Home Content Small Device */

.flex2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.f2c1 {
  flex-basis: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: center;
}

nav a {
  color: #444444;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 4vw;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
}

nav a:hover {
  color: #5d27ff;
}

body {
  background-color: #f4f3f7
}

.body2 {
  background-color: #f2effb;
}

li {
  font-family: 'Quicksand', sans-serif;
}

.f2c2 {
  flex-basis: 95%;
  max-width: 95%;
  box-sizing: border-box;
  background-color: #ebfaff;
  border: #f0ebff 5px solid;
  padding: 0px 40px;
  border-radius: 10px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 8px #a09ca7;
  margin-bottom: 60px;
} 

.hm-about-text {
  color:	#9875ff;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
}

.about-text5 {
  color:	#444444;
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
  font-size: 14pt;
  font-weight: 200;
}

.f2c3 {
  flex-basis: 95%;
  max-width: 95%;
  box-sizing: border-box;
  text-align: center;
  background-color: #ebfaff;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 8px #a09ca7;
  margin-bottom: 60px;
} 


aside {
  background-color: #ebfaff;
  border: #f0ebff 5px solid;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

aside h2 {
  color: #9875ff;
  text-align: center;
  padding-top: 5%;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

aside p {
  color: #444444;
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
}

.about-image {
  flex-basis: 95%;
  max-width: 95%;
  box-sizing: border-box;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
}

img {
  border-radius: 5px;
  box-shadow: 5px 10px 8px #a09ca7;
}

.f2c4 {
  flex-basis: 95%;
  max-width: 95%;
  box-sizing: border-box;
  text-align: center;
  background-color: #ebfaff;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 8px #a09ca7;
}

.specoffer {
  font-size: 4vw;
}

article h2 {
  color: #9875ff;
  text-align: center;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

article p {
  color: #444444;
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
}

article p span {
  font-size: 4vw;
  color: #9875ff;
}

.popimagecaption {
  font-size: 0;
}

.f2c5 {
  flex-basis: 100%;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: #ebfaff;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 8px #a09ca7; 
  margin-bottom: 80px;
}

.f2c5 h3 {
  color: #9875ff;
  font-size: 5vw;
  text-align: center;
  padding-top: 2%;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.CTA {
  padding: 10px 20px;
  color: #5d27ff;
  border: #5d27ff solid 1px;
  border-radius: 5px;
  font-size: 4vw;
}

.CTA:hover{
  color: #ffffff;
  background-color: #5d27ff;
}

/* Footer START */

.flex4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f2effb;
}

.flex5 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.f4footer {
  flex-basis: 60%;
  max-width: 60%;
  box-sizing: border-box;
  padding: 20px 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer {
  flex-basis: 100%;
  max-width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-text {
  padding-right: 15px;
  text-align: center;
}

footer p {
  color: #684c40;
}

.reference-title {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  text-align: center;
  color: #5d27ff;
  font-size: 35px;
}

.ref-title {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: #5d27ff;
  font-size: 25px;
}

.ref-para {
  color: #444444;
  font-family: 'Quicksand', sans-serif;
}

.ref-footer {
  text-align: center;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 20px;
}

/* Footer END */

/* Home Content Tablet Device */

@media (min-width: 768px) {

  /* DROPDOWN Start */

  .dropdown {
    margin: 0 0 0 75px;
  }

  .dropdown>li {
    padding: 10px;
  }

  .dropdown>li>ul {
    margin: 0;
    padding: 0px;
    width: 250px;
    top: 20px;
    left: 0px;
  }

  .dropdown>li:hover>ul {
    visibility: visible;
    opacity: 1;
    top: 55px;
  }

  .dropdown a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
  }

  .dropdown a:hover {
    background-color: #ebf0ff;
  }

  .dropdown>li>ul a {
    display: inline-block;
    padding: 10px 15px;
    white-space: nowrap;
    margin-left: -.5px;
    width: calc(100% - 30px);
  }

  .menu {
    width: 75px;
    height: auto;
    box-shadow: none;
    border-radius: 5px;
  }

  /* END Dropdown Menu */

  /* Header */

  .header-menu {
    flex-basis: 65%;
    max-width: 65%;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-top: 22px;
    font-size: 20px;
  }

  /* Header END */

  .slider-home {
    padding: 180px 0 210px;
  }

  .slider-home:before {
  left: 15%;
  top: 30%;
  width: 70%;
  height: 40%;
  }

  .hm-slider-text {
  padding-top: 60px;
  font-size: 4vw;
  }

  .hm-subslider-text {
  font-size: 3.5vw;
  margin-bottom: -15px;
  }

  .hm-slogan {
  padding-bottom: 50px;
  font-size: 2.25vw;
  }

  .f2c2 {
  flex-basis: 58%;
  max-width: 58%;
  }

  .f2c3 {
  flex-basis: 30%;
  max-width: 30%;
  }

  .about-image {
  flex-basis: 35%;
  max-width: 35%;
  }

  .f2c4 {
  flex-basis: 60%;
  max-width: 60%;
  margin-top: 5%;
  }

  aside h2 {
  padding-top: 10%;
  }

  article p span {
  font-size: 2vw;
  }

  nav a {
  color: #444444;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 2vw;
  }

  .f2c5 h3 {
  font-size:3vw;
  }

  .CTA {
  font-size: 2vw;
  }
}

/* Desktop Home */
@media (min-width: 992px) {

  /* DROPDOWN Start */

  .dropdown {
    margin: 0 0 0 75px;
  }

  .dropdown>li {
    padding: 10px;
  }

  .dropdown>li>ul {
    margin: 0;
    padding: 0px;
    width: 250px;
    top: 20px;
    left: 0px;
  }

  .dropdown>li:hover>ul {
    visibility: visible;
    opacity: 1;
    top: 55px;
  }

  .dropdown a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
  }

  .dropdown a:hover {
    background-color: #ebf0ff;
  }

  .dropdown>li>ul a {
    display: inline-block;
    padding: 10px 15px;
    white-space: nowrap;
    margin-left: -.5px;
    width: calc(100% - 30px);
  }

  .menu {
    width: 75px;
    height: auto;
    box-shadow: none;
    border-radius: 5px;
  }

  /* END Dropdown Menu */

  /* Header */

  .header-menu {
    flex-basis: 75%;
    max-width: 75%;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-top: 18px;
    font-size: 24px;
  }

  /* Header END */


  .slider-home {
  padding: 180px 0 210px;
  }

  .slider-home:before {
  left: 15%;
  top: 30%;
  width: 70%;
  height: 40%;
  }

  .hm-slider-text {
  padding-top: 60px;
  font-size: 4vw;
  }

  .hm-subslider-text {
  font-size: 3vw;
  margin-bottom: -25px;
  }

  .hm-slogan {
  padding-bottom: 50px;
  font-size: 1.75vw;
  }

  .f2c2 {
  flex-basis: 58%;
  max-width: 58%;
  }

  .f2c3 {
  flex-basis: 30%;
  max-width: 30%;
  }

  .about-image {
  flex-basis: 28%;
  max-width: 28%;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  }

  figcaption {
    margin-top: 5px;
    margin-bottom: -20px;
  }

  .f2c4 {
  flex-basis: 32%;
  max-width: 32%;
  text-align: center;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  }

  .specoffer {
    padding-top: 0;
    padding-bottom: 0;
  }

  aside h2 {
  padding-top: 10%;
  }

  .f2c5-5 {
  flex-basis: 28%;
  max-width: 28%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  }

  .popimagecaption {
    font-size: 17px;
  }

  nav a {
  color: #444444;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 2vw;
  }
}

@media (min-width: 1200px) {

  /* DROPDOWN Start */

  .dropdown {
    margin: 0 0 0 75px;
  }

  .dropdown>li {
    padding: 10px;
  }

  .dropdown>li>ul {
    margin: 0;
    padding: 0px;
    width: 250px;
    top: 20px;
    left: 0px;
  }

  .dropdown>li:hover>ul {
    visibility: visible;
    opacity: 1;
    top: 55px;
  }

  .dropdown a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
  }

  .dropdown a:hover {
    background-color: #ebf0ff;
  }

  .dropdown>li>ul a {
    display: inline-block;
    padding: 10px 15px;
    white-space: nowrap;
    margin-left: -.5px;
    width: calc(100% - 30px);
  }

  .menu {
    width: 75px;
    height: auto;
    box-shadow: none;
    border-radius: 5px;
  }

  /* END Dropdown Menu */

  /* Header */

  .header-menu {
    flex-basis: 85%;
    max-width: 85%;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    padding-right: 100px;
    margin-top: 18px;
    font-size: 24px;
  }

  /* Header END */

  .about-image {
  flex-basis: 33%;
  max-width: 33%;
  }

  .f2c4 {
  flex-basis: 33%;
  max-width: 33%;
  }

  .f2c5-5 {
  flex-basis: 33%;
  max-width: 33%;
  }
}